
{{#cvia-navbar user=model.user store=store }}{{/cvia-navbar}}
<div class="ui main grid container">
  <div class="sixteen wide column">
    <div class="ui segments">
      <div class="ui segment blur-background">
        <div class="ui grid">
          <div class="ten wide column">
            <h2 class="ui inverted header">
              {{model.user.fullName}}
            </h2>
          </div>
          <div class="right aligned six wide column">
            <div class="ui large teal label">
              <i class="user icon" />
              {{model.user.role}}
            </div>
            <div class="ui large grey label">
              <i class="mail icon" />
              {{model.user.email}}
            </div>
          </div>
        </div>
      </div>
      <div class="ui segment">
        <h2 class="ui horizontal divider header">
          {{#if model.user.isEmployee }}
            Resumes
          {{else}}
            Jobs
          {{/if}}
        </h2>
        <div class="ui three cards">
          {{#if model.user.isEmployee }}
            {{#each model.resumes as |resume|}}
              {{cvia-resume-card store=store resume=resume }}
            {{/each}}
          {{else}}
            {{#each model.jobs as |job|}}
              {{cvia-simple-job-card store=store job=job }}
            {{/each}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
{{#cvia-footer}}{{/cvia-footer}}